/* === 1. Override Bootstrap variables BEFORE importing it === */

// Global options
$enable-gradients: true;
$enable-shadows: true;

// Brand and theme colors
$primary: #5c6ac4;
$success: #7952b3;
$border-radius: 0.6rem;

// Body and text defaults
$body-color: #222;
$body-bg: #fff;

@import "./variables"; // override veraibles

// === 2. Import Bootstrap’s core Sass ===

// Required core modules
// Include functions first
@import "bootstrap/scss/functions";
// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

// === 3. Add your custom partials ===
@import "./custom";
