@use "../abstracts/_variables";
@use "../abstracts/_mixins";

/* SECTION NEW NEWS */
.new-news {
  color: variables.$grayish-blue;
  background-color: variables.$very-dark-blue;
  padding: 2.4rem;

  @include mixins.respond-phone-land() {
    grid-column: 1/4;
  }

  @include mixins.respond-tablet-land {
    grid-column: 3/4;
  }

  &__title {
    font-size: 3.6rem;
    color: variables.$soft-orange;
    margin-bottom: 4.4rem;

    @include mixins.respond-phone-port() {
      font-size: 2.8rem;
      margin-bottom: 2.4rem;
    }
  }

  &__article:not(:last-child) {
    border-bottom: 1px solid variables.$grayish-blue;
    padding-bottom: 2.4rem;

    @include mixins.respond-phone-port() {
      padding-bottom: 2.4rem;
    }
  }

  &__article-link {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1.5rem;

    &:hover .new-news__article-title {
      color: variables.$soft-orange;
    }
  }

  &__article-title {
    color: variables.$off-white;
    font-weight: 800;
  }

  &__article-text {
    line-height: 1.7;
  }
}
