@use "../abstracts/_variables";

/* FOOTER */
.footer {
  padding: 4.5rem;
  background-color: variables.$very-dark-blue;
  color: variables.$grayish-blue;
}

.attribution {
  font-size: 11px;
  text-align: center;

  & a:link,
  a:visited {
    color: variables.$grayish-blue;
    text-decoration: none;
  }

  & a:hover,
  a:active {
    color: variables.$soft-orange;
  }
}
