/* MIXINS */
@mixin font-face($fontFamily, $sourcePath, $fontWeight, $fontStyle) {
  @font-face {
    font-family: $fontFamily;
    src: url("#{sourcePath}") format("truetype");
    font-weight: $fontWeight;
    font-style: $fontStyle;
  }
}

@mixin respond-desktop-large() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin respond-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin respond-tablet-land() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin respond-tablet-port() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin respond-phone-land() {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin respond-phone-port() {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin custom-media-query-min($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin custom-media-query-max($width) {
  @media (max-width: $width) {
    @content;
  }
}
