/* VARIABLES */
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

/* MIXINS */
@mixin font-face($fontFamily, $sourcePath, $fontWeight, $fontStyle) {
  @font-face {
    font-family: $fontFamily;
    src: url("#{sourcePath}") format("truetype");
    font-weight: $fontWeight;
    font-style: $fontStyle;
  }
}

@mixin respond-desktop-large() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin respond-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin respond-tablet-land() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin respond-tablet-port() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin respond-phone-land() {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin respond-phone-port() {
  @media (max-width: 575px) {
    @content;
  }
}

/* FONTS */
@include font-face(
  "Inter",
  "../assets/fonts/Inter-VariableFont_slnt,wght.ttf",
  100 900,
  normal
);

@include font-face(
  "Inter",
  "../assets/fonts/static/Inter-Regular.ttf",
  400,
  normal
);

@include font-face(
  "Inter",
  "../assets/fonts/static/Inter-Bold.ttf",
  700,
  normal
);

@include font-face(
  "Inter",
  "../assets/fonts/static/Inter-ExtraBold.ttf",
  800,
  normal
);

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
}

/* CONTAINERS */

.header-container {
  max-width: 114rem;
  margin: 0 auto;
  height: 8.5rem;

  //position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.6rem 0 1.6rem; //repeating
}
/* DESKTOP NAVIGATION */
.navigation-desktop {
  @include respond-phone-port() {
    display: none;
  }

  &__list {
    display: flex;
  }
}

/* MOBILE NAVIGATION */
.mobile-menu {
  &__button {
    z-index: 10;
    border: none;
    background-color: unset;
  }

  &__menu-icon {
    transition: all 0.3 ease;
  }

  &__close-icon {
    transition: all 0.3 ease;
  }

  &__container {
    position: fixed;
    top: 0;
    // left: -100%;
    right: 0;
    transform: translateX(50%);

    width: 70%;
    height: 100vh;

    border: none;
    background-color: $off-white;
    padding: 5rem;
  }
}

.navigation-mobile {
}

.main-container {
  max-width: 114rem;
  margin: 0 auto;

  @include respond-phone-port() {
    padding: 0 1.6rem 0 1.6rem;
  }
}

.breaking-news {
  &__image {
    width: 100%;
    max-width: 40rem;
    height: auto;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* HELPERS */
.hidden {
  display: none;
}
