/* VARIABLES */
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

/* MIXINS */
@mixin font-face($fontFamily, $sourcePath, $fontWeight, $fontStyle) {
  @font-face {
    font-family: $fontFamily;
    src: url("#{sourcePath}") format("truetype");
    font-weight: $fontWeight;
    font-style: $fontStyle;
  }
}

@mixin respond-desktop-large() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin respond-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin respond-tablet-land() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin respond-tablet-port() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin respond-phone-land() {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin respond-phone-port() {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin custom-media-query-min($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin custom-media-query-max($width) {
  @media (max-width: $width) {
    @content;
  }
}

/* FONTS */
@include font-face(
  "Inter",
  "../assets/fonts/Inter-VariableFont_slnt,wght.ttf",
  100 900,
  normal
);

@include font-face(
  "Inter",
  "../assets/fonts/static/Inter-Regular.ttf",
  400,
  normal
);

@include font-face(
  "Inter",
  "../assets/fonts/static/Inter-Bold.ttf",
  700,
  normal
);

@include font-face(
  "Inter",
  "../assets/fonts/static/Inter-ExtraBold.ttf",
  800,
  normal
);

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 1;

  position: relative;

  @include custom-media-query-min(433px) {
    //height: 100vh;
  }
}

/* CONTAINERS */
.header-container {
  max-width: 114rem;
  margin: 0 auto;
  height: 8.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.6rem 0 1.6rem; //repeating
}

.main-container {
  max-width: 114rem;
  margin: 0 auto;

  @include respond-phone-port() {
    padding: 0 1.6rem 0 1.6rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* COMPONENTS */

/* DESKTOP NAVIGATION */
.navigation-desktop {
  @include respond-phone-port() {
    display: none;
  }

  &__list {
    display: flex;
  }
}

/* MOBILE NAVIGATION */
.logo {
  @include respond-phone-port() {
    width: 50px;
    height: auto;
  }
}
.mobile-menu {
  &__button {
    z-index: 10;
    border: none;
    background-color: unset;

    @include respond-phone-land() {
      display: none;
    }
  }

  &__menu-icon {
    transition: all 0.3 ease;
  }

  &__close-icon {
    transition: all 0.3 ease;
  }

  &__container {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(40%);

    width: 80%;
    height: 100%;

    z-index: 1;

    border: none;
    background-color: $off-white;
    padding: 2.4rem;
    overflow: hidden;
    box-shadow: -2px 0px 10px 200px rgba(0, 0, 0, 0.4);

    @include respond-phone-land() {
      display: none;
    }
  }
}

.navigation-mobile {
  position: fixed;
  margin-top: 40%;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    list-style: none;
  }

  &__item {
  }

  &__link {
    color: $dark-grayish-blue;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 600;

    &:link,
    &:visited {
    }

    &:hover,
    &:active {
      color: $grayish-blue;
    }
  }
}

/* SECTION BREAKING NEWS */
.breaking-news {
  &__article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  &__image {
    width: 100%;
    max-width: 60rem;
    height: auto;
  }

  &__title {
    width: 100%;
    font-size: 3.8rem;
    font-weight: 700;
    padding-right: 2.8rem;
  }

  &__text {
    line-height: 1.5;
    padding-right: 1.8rem;
  }

  &__read-more {
    width: 50%;
    padding: 1.5rem 2rem;
    background-color: $soft-red;
    text-align: center;

    & a {
      text-decoration: none;
      color: $very-dark-blue;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 5px;
    }
  }
}

/* SECTION NEW NEWS */
.new-news {
  color: $grayish-blue;
  background-color: $very-dark-blue;
  padding: 2.4rem;

  &__title {
    font-size: 2.8rem;
    color: $soft-orange;
    margin-bottom: 2.4rem;
  }

  &__article:not(:last-child) {
    border-bottom: 1px solid $grayish-blue;
    padding-bottom: 2.4rem;
  }

  &__article-link {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1.5rem;
  }

  &__article-title {
    color: $off-white;
    font-weight: 800;
  }

  &__article-text {
    line-height: 1.7;
  }
}

/* FOOTER */
.footer {
  padding: 4.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* HELPERS */
.hidden {
  display: none;
}

.gap-2 {
  gap: 2rem;
}

.gap-2-4 {
  gap: 2.4rem;
}
