@use "../../styles/variables" as *;

.card {
  border-radius: 1.25rem;
  overflow: hidden;

  @media (max-width: 768px) {
    border-radius: 0;
  }

  @media (max-width: 500px) {
    width: 100% !important;
  }
}
