/* VARIABLES */
/* COLORS*/
/* FONT-WEIHTS */
/* MIXINS */
/* FONTS */
@font-face {
  font-family: "WorkSans";
  src: url("../assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "WorkSans";
  src: url("../assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "WorkSans";
  src: url("../assets/fonts/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: "WorkSans", sans-serif;
  line-height: 1;
  background: linear-gradient(to bottom, hsl(275, 100%, 97%) 100%, transparent 0);
  display: grid;
  grid-template-rows: 2 2fr 1fr;
}

.background {
  height: 100%;
}
.background::after {
  display: block;
  content: "";
  width: 100%;
  height: 820px;
}
@media (max-width: 575px) {
  .background::after {
    height: 980px;
  }
}

.background-image {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
@media (max-width: 575px) {
  .background-image {
    background-image: url("../assets/images/background-pattern-mobile.svg"), linear-gradient(to bottom, hsl(275, 100%, 97%) 100%, transparent 0);
  }
}

.container {
  padding: 0 2.4rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -17%);
  width: 100%;
  max-width: 70rem;
  min-height: 87vh;
}
@media (max-width: 575px) {
  .container {
    transform: translate(-50%, -10%);
    min-height: 100vh;
  }
}

.faq__section {
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 4.2rem 4rem 2rem 4rem;
  box-shadow: 0 15px 30px 10px rgba(241.536, 23.664, 201.5928, 0.1);
}
@media (max-width: 575px) {
  .faq__section {
    padding: 3rem 2rem;
  }
}
.faq__heading {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3.2rem;
}
.faq__image {
  width: 30px;
  height: 30px;
}
@media (max-width: 575px) {
  .faq__image {
    width: 25px;
    height: 25px;
  }
}
.faq__title {
  font-size: 4.2rem;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
}
@media (max-width: 575px) {
  .faq__title {
    font-size: 3.2rem;
  }
}
.faq__accordion {
  width: 100%;
}

.accordion__item:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 575px) {
  .accordion__item:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.accordion__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 2rem;
}
.accordion__question:hover {
  cursor: pointer;
}
.accordion__question:hover .accordion__heading {
  color: rgb(141, 38, 226);
}
.accordion__heading {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  color: hsl(292, 42%, 14%);
}
.accordion__icon-wrapper {
  width: 30px;
  height: 30px;
  position: relative;
}
.accordion__icon-close, .accordion__icon-open {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(10%);
}
.accordion__content--pb {
  padding-bottom: 2rem;
}
.accordion__text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: hsl(292, 16%, 49%);
}

.footer {
  width: 100%;
  height: 100%;
  padding: 4rem;
  background: linear-gradient(to bottom, hsl(275, 100%, 97%) 100%, transparent 0);
}

/* HELPERS */
.accordion__icon-close {
  opacity: 0;
}

.accordion__item[open] .accordion__icon-open {
  opacity: 0;
}

.accordion__item[open] .accordion__icon-close {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
