/*
FONT SIZE SYSTEM (px)
    4 / 8 / 12 / 16 / 20 / 24 / 28 / 32 / 40 / 48 / 56 / 64 / 72 / 80 / 88 / 96
*/

/* VARIABLES */
$green-200-lighter: hsl(148, 38%, 91%);
$green-600-medium: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);

$white: hsl(0, 0%, 100%);
$grey-500-medium: hsl(186, 15%, 59%);
$grey-900-darker: hsl(187, 24%, 22%);

/* MIXINS */
@mixin font-face($fontFamily, $sourcePath, $fontWeight, $fontStyle) {
  @font-face {
    font-family: $fontFamily;
    src: url("#{$sourcePath}") format("truetype");
    font-weight: $fontWeight;
    font-style: $fontStyle;
  }
}

@mixin respond-desktop-large() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin respond-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin respond-tablet-land() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin respond-tablet-port() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin respond-phone-land() {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin respond-phone-port() {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin respond-phone-port() {
  @media (max-width: 575px) {
    @content;
  }
}

/* FONTS */
@include font-face(
  "Karla",
  "../assets/fonts/Karla-VariableFont_wght.ttf",
  100 900,
  normal
);

@include font-face(
  "Karla",
  "../assets/fonts/Karla-Italic-VariableFont_wght.ttf",
  100 900,
  italic
);

@include font-face(
  "Karla",
  "../assets/fonts/static/Karla-Regular.ttf",
  400,
  normal
);

@include font-face(
  "Karla",
  "../assets/fonts/static/Karla-Bold.ttf",
  700,
  normal
);

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
}

fieldset {
  border: none;
}

input,
textarea {
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: 1px solid $green-600-medium;
}

/* CONTAINERS */
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.center-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-phone-port() {
    //display: block;
    height: auto;
  }
}

.flex-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include respond-tablet-port() {
    flex-direction: row;
    gap: 2rem;
  }
}

.form-group {
  width: 100%;
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }
}

/* COMPONENTS */
.contact-form {
  &__section {
    background-color: $green-200-lighter;
    padding: 4.8rem 0 9.6rem 0;
  }

  &__content {
    max-width: 72rem;
    min-width: 32rem;
    width: 100%;
    background-color: $white;
    border-radius: 16px;

    padding: 4.8rem 4rem;

    @include respond-phone-port() {
      padding: 3.2rem 2.4rem;
    }
  }

  &__heading {
    font-size: 2.8rem;
  }

  &__form {
  }

  &__message {
    resize: none;
    line-height: 1.5;
  }
}

.submit-btn {
  width: 100%;
  padding: 2rem 3.2rem;
  background-color: $green-600-medium;
  border: none;
  border-radius: 8px;
  color: $white;

  &:hover {
    cursor: pointer;
    background-color: $grey-900-darker;
  }
}

/* HELPERS */
.fs-custom-18 {
  font-size: 1.8rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-xs {
  gap: 1.6rem;
}

.gap-s {
  gap: 2rem;
}

.gap-m {
  gap: 2.4rem;
}

.gap-l {
  gap: 2.8rem;
}

.mb-xs {
  margin-bottom: 1.2rem;
}

.mb-s {
  margin-bottom: 2rem;
}

.mb-m {
  margin-bottom: 2.4rem;
}

.mb-l {
  margin-bottom: 3.2rem;
}

.mb-xl {
  margin-bottom: 4rem;
}

.input-padding {
  padding: 1.6rem 2rem;
}

.input-border {
  border-radius: 8px;
  border: 1px solid $grey-500-medium;
}

.secondary-heading {
  font-size: 1.6rem;
  font-weight: normal;
}

.error-message {
  color: $red;
  display: none;
}

/* FOOTER */
.footer {
  padding: 4.8rem 0;
  background-color: $green-200-lighter;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
