@use "../utils/variables";
@use "../utils/mixins";

/* DETAILS BOX */
.details-box {
  &__brand-name {
    font-size: 1.2rem;
    color: variables.$dark-grayish-blue;
    text-transform: uppercase;
    margin-bottom: 1.6rem;

    @include mixins.custom-media-query-max(765px) {
      margin-top: 1rem;
      margin-bottom: 0.7rem;
    }
  }

  &__heading {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 3.6rem;

    @include mixins.custom-media-query-max(915px) {
      margin-bottom: 1rem;
    }

    @include mixins.custom-media-query-max(850px) {
      font-size: 3rem;
    }
  }

  &__description {
    line-height: 1.6;
    margin-bottom: 2.4rem;

    @include mixins.custom-media-query-max(915px) {
      margin-bottom: 1rem;
    }

    @include mixins.custom-media-query-min(850px) {
      padding-right: 1rem;
    }

    @include mixins.custom-media-query-max(765px) {
      font-size: 1.5rem;
    }
  }

  &__price-container {
    @include mixins.respond-phone-land() {
      flex-direction: column;
    }
  }

  &__new-price {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    display: inline-block;

    margin-right: 1rem;

    @include mixins.custom-media-query-max(765px) {
      font-size: 2.2rem;
    }
  }

  &__discount {
    font-size: 1.6rem;
    font-weight: 700;
    background-color: variables.$black;
    color: variables.$white;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
  }

  &__old-price {
    font-size: 1.6rem;
    text-decoration: line-through;
    margin-bottom: 2rem;

    @include mixins.custom-media-query-max(720px) {
      margin-left: auto;
    }
  }

  &__product-quantity-wrapper {
    align-items: center;
    //padding-left: 1rem;
    padding: 0.5rem;
    background-color: variables.$light-grayish-blue;
    border-radius: 12px;

    @include mixins.custom-media-query-max(720px) {
      width: 100%;
      margin-bottom: 1.4rem;
    }
  }

  &__product-quantity-button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    padding: 2rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    /* DEVELOPMENT PURPOSE ONLY*/
    border-radius: 50%;

    transition: background-color 0.2s ease;

    &:active {
      background-color: #eee;
    }
  }

  &__minus-icon {
    display: inline-block;
    width: 10px;
    height: auto;
  }

  &__plus-icon {
    display: inline-block;
    width: 10px;
    height: auto;
  }

  &__product-quantity {
    width: 50px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    border: none;

    background-color: variables.$light-grayish-blue;

    -moz-appearance: textfield;
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    @include mixins.custom-media-query-max(720px) {
      width: 100%;
    }
  }

  &__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    max-width: 27rem;
    border: none;
    border-radius: 10px;
    background-color: variables.$orange;
    padding: 1.8rem 0 1.8rem 0;
    font-weight: 600;
    color: variables.$very-dark-blue;
    transition: background-color 0.3s ease;

    @include mixins.custom-media-query-max(720px) {
      max-width: 100%;
      padding: 2rem 0;
    }

    &:hover {
      background-color: variables.$pale-orange;
    }
  }

  &__cart-icon {
    width: 15px;
    height: auto;
    filter: brightness(0);
  }
}
