@use "../utils/variables";
@use "../utils/mixins";

/* SHOPPING CART */
.shopping-cart {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(-50%, 20%);

  width: 40rem;
  min-height: 26.4rem;

  background-color: variables.$white;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(variables.$dark-grayish-blue, $alpha: 0.3);

  color: variables.$dark-grayish-blue;

  &__button {
    border: none;
    background: none;
    cursor: pointer;

    position: relative;
  }

  &__item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 15px;

    background-color: variables.$orange;
    color: variables.$white;
    font-size: 1.2rem;
    font-weight: 500;

    position: absolute;
    top: 0;
    right: 0;

    border-radius: 12px;

    transform: translate(40%, -50%);
  }

  &__heading {
    font-size: 1.6rem;
    color: variables.$very-dark-blue;
  }

  &__items-list {
    list-style: none;
  }

  &__empty-message {
    font-weight: 600;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.6rem;

    margin-bottom: 2rem;
  }

  &__image-box {
    grid-column: 1/2;
    grid-row: 1/3;

    & > img {
      width: 50px;
      height: auto;
      border-radius: 5px;
    }
  }

  &__item-title {
    font-weight: 500;
    grid-column: 2/3;

    @include mixins.custom-media-query-max(413px) {
      font-size: 1.5rem;
    }
  }

  &__item-price {
    grid-column: 2/3;
    font-size: 2rem;

    @include mixins.custom-media-query-max(413px) {
      font-size: 1.6rem;
    }
  }

  &__item-total-price {
    font-weight: 700;
    color: variables.$very-dark-blue;
  }

  &__action {
    grid-column: 3/4;
    grid-row: 1/3;

    align-self: center;

    & > button {
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  &__checkout-button {
    text-decoration: none;
    color: variables.$very-dark-blue;
    font-weight: 700;
    text-align: center;

    display: inline-block;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    background-color: variables.$orange;

    &:hover {
      background-color: variables.$pale-orange;
    }

    @include mixins.custom-media-query-max(720px) {
      padding: 1.6rem 0 1.6rem 0;
    }
  }

  @include mixins.custom-media-query-max(720px) {
    position: fixed;
    top: 8%;
    transform: none;
    width: auto;
    left: 10px;
    right: 10px;
    min-width: 90vw;
  }
}
