/* VARIABLES */
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);
$red: hsl(0, 87%, 57%);

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  line-height: 1;
}

p,
legend {
  font-size: 1.5rem;
}

/* MIXINS */
@mixin respond-desktop-large() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin respond-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin respond-tablet-land() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin respond-tablet-port() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin respond-phone-land() {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin respond-phone-port() {
  @media (max-width: 575px) {
    @content;
  }
}

/* CONTAINERS */
section {
  background-color: $very-dark-blue;
  height: 100vh;
}

.container {
  padding: 0 2rem;
}

.center-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* COMPONENTS */
.rating-component {
  max-width: 40rem;
  padding: 3.2rem;
  border-radius: 30px;
  @include respond-phone-port() {
    max-width: 37.5rem;
    padding: 3rem 2rem;
    border-radius: 10px;
  }
  background-color: $dark-blue;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & fieldset {
      border: none;
      & legend {
        line-height: 1.7;
      }
    }
  }

  &__thank-you-message {
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
    @include respond-phone-port() {
      gap: 3rem;
    }
    text-align: center;
  }
}

.form {
  &__image {
    display: block;
    width: 15px;
    height: 15px;
  }
  &__heading {
    font-size: 2.6rem;
    color: $white;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    justify-content: center;

    @include respond-phone-port() {
      gap: 2.4rem;
    }
  }
  &__text {
    color: $light-grey;
    margin-bottom: 2rem;
  }
  &__rating-btn {
    display: block;
    color: $light-grey;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 1.9rem;
    @include respond-phone-port() {
      width: 43px;
      height: 43px;
      padding: 1.5rem;
    }
    border-radius: 50%;
    background-color: rgba($color: $white, $alpha: 0.1);
    &:hover {
      background-color: $orange;
      color: $dark-blue;
      cursor: pointer;
    }
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.radio-group {
  & input {
    display: none;
  }
  &.active .form__rating-btn {
    background-color: $white;
    color: $dark-blue;
  }
}

.submit-btn {
  background-color: $orange;
  width: 100%;
  height: 42px;
  padding: 1.4rem;
  border-radius: 20px;
  border: none;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 700;
  color: $dark-blue;
  letter-spacing: 2.4px;
  &:hover {
    background-color: $white;
    cursor: pointer;
  }
}

.thank-you-message {
  &__image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include respond-phone-port() {
      gap: 2rem;
    }
    align-items: center;
  }
  &__image {
    width: 150px;
    height: auto;
    padding-top: 1rem;
  }
  &__selected-rating {
    height: 26px;
    color: $orange;
    padding: 0.7rem 1.2rem;
    border-radius: 20px;
    background-color: rgba($color: $white, $alpha: 0.1);
  }
  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__heading {
    color: $white;
    font-size: 2.8rem;
    @include respond-phone-port() {
      font-size: 2.2rem;
    }
  }
  &__text {
    color: $light-grey;
    line-height: 1.7;
    @include respond-phone-port() {
      line-height: 1.5;
    }
  }
}

/* HELPERS */
.image-wrapper {
  align-self: flex-start;
  display: inline-block;
  padding: 1.3rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  background-color: rgba($color: $white, $alpha: 0.1);
  @include respond-phone-port() {
    margin-bottom: 1rem;
  }
}

.error {
  text-align: center;
  color: $red;
  margin-top: 2rem;
}

.hidden {
  display: none;
}

/* FOOTER */
footer {
  background-color: $very-dark-blue;
  color: $light-grey;
  padding: 1rem;

  & a:link,
  a:visited {
    text-decoration-color: $light-grey;
    font-weight: 700;
    color: $light-grey;
    transition: all 0.3s ease-in;
  }

  & a:hover,
  a:active {
    color: $orange;
    text-decoration-color: $orange;
  }
}
