// COLORS
$color-primary-red: hsl(0, 78%, 62%);
$color-primary-cyan: hsl(180, 62%, 5%);
$color-primary-orange: hsl(34, 97%, 64%);
$color-primary-blue: hsl(212, 86%, 64%);

$color-neutral-very-dark-blue: hsl(234, 12%, 34%);
$color-neutral-grayish-blue: hsl(229, 6%, 66%);
$color-neutral-very-light-gray: hsl(0, 0%, 98%);

// FONTS
$font-size-base: 1.5rem;
