/* VARIABLES */
$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", sans-serif;
  line-height: 1;
}

/* MIXINS */
@mixin respond-desktop-large() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin respond-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin respond-tablet-land() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin respond-tablet-port() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin respond-phone() {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin respond-phone-portrait() {
  @media (max-width: 575px) {
    @content;
  }
}

/* CONTAINER */

.container {
  margin: 0 auto;

  @include respond-phone() {
    max-width: 54rem;
    padding: 0 2rem;
  }

  @include respond-tablet-port() {
    max-width: 72rem;
    padding: 0 2rem;
  }

  @include respond-tablet-land() {
    max-width: 96rem;
    padding: 0 2rem;
  }

  @include respond-desktop() {
    max-width: 114rem;
    padding: 0 2rem;
  }

  @include respond-desktop-large() {
    max-width: 114rem;
    padding: 0 2rem;
  }
}

.center-box {
  @include respond-tablet-port() {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* COMPONENT */
.tip-calculator {
  background-color: $light-grayish-cyan;

  &__container {
    display: flex;
    gap: 3rem;
    flex-direction: column;
  }

  &__header {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
  }

  /*&__title {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.7rem;
    color: $dark-grayish-cyan;
  }*/

  &__content {
    width: 100%;
    padding: 2.4rem;
    border-radius: 20px 20px 0 0;
    background-color: $white;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include respond-phone-portrait() {
      height: 85vh;
    }

    @include respond-phone() {
      border-radius: 20px;
    }

    @include respond-tablet-port() {
      max-width: 82rem;
      height: auto;
      flex-direction: row;
      border-radius: 20px;
    }
  }

  &__form {
    width: 100%;

    @include respond-tablet-port() {
      width: 50%;
      padding: 2rem;
    }
  }

  &__tips {
    display: none;
  }

  &__tips-btn {
    display: block;
    padding: 1.4rem 2rem;
    background-color: $very-dark-cyan;
    color: $white;
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;

    &:hover {
      color: $very-dark-cyan;
      background-color: $strong-cyan;
    }

    &--custom {
      width: 100%;

      &::placeholder {
        font-family: "Space Mono";
        font-size: 2.2rem;
        font-weight: 700;
        color: $dark-grayish-cyan !important;
        text-align: center;
      }
    }
  }

  &__result-display {
    width: 100%;

    background-color: $very-dark-cyan;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 10px;

    @include respond-tablet-port() {
      width: 50%;
      padding: 3.8rem;
    }
  }
}

.display {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;

    @include respond-tablet-port() {
      gap: 5rem;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__reset-button {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $very-dark-cyan;
    background-color: $strong-cyan;

    @include respond-tablet-port() {
      margin-top: auto;
    }
  }

  &__category {
    font-size: 1.2rem;
    font-weight: 700;
    color: $white;
  }

  &__per-person {
    font-size: 1.1rem;
    font-weight: 700;
    color: $dark-grayish-cyan;
  }

  &__category-value {
    font-size: 3.2rem;
    font-weight: 700;
    color: $strong-cyan;
  }
}

/* HELPERS */
.form-group {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  &:not(:last-child) {
    padding-bottom: 2rem;
  }
}

.form-radio-group {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 1.5rem;

  @include respond-tablet-port() {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form-input {
  width: 100%;
  font-size: 2.4rem;
  font-weight: 700;
  color: $very-dark-cyan;

  text-align: right;

  padding: 0.9rem;
  border: none;
  border-radius: 5px;
  background-color: $very-light-grayish-cyan;

  &::placeholder {
    color: $grayish-cyan;
    font-weight: 600;
  }
}

.input-wrapper {
  position: relative;
  &__dollar {
    width: 11px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(170%, 90%);
  }

  &__person {
    width: 11px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(170%, 120%);
  }
}

.input {
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.form-label {
  font-size: 1.4rem;
  font-weight: 700;
  color: $dark-grayish-cyan;
}

.disabled {
  opacity: 0.2;
}

/* FOOTER */
footer {
  padding: 2.4rem 2rem;
  background-color: $light-grayish-cyan;
}
